<template id="x-combat">
  <div class="x-bank-items-box">
    <div class="row row-deck">
      <div class="col-12">
        <button
          class="btn btn-sm mr-2 mb-2"
          :class="modeType === 'one' ? 'btn-success' : 'btn-secondary'"
          @click="modeSelect('one')"
        >
          {{ lang.combat.modeTypeBtn1 }}
        </button>
        <button
          class="btn btn-sm mr-2 mb-2"
          :class="modeType === 'skip' ? 'btn-success' : 'btn-secondary'"
          @click="modeSelect('skip')"
        >
          {{ lang.combat.modeTypeBtn2 }}
        </button>
      </div>
    </div>
    <div class="row row-deck pt-3 pb-3">
      <div class="col-12">
        <div
          v-show="modeType === 'skip'"
          class="btn-group-toggle"
          data-toggle="buttons"
        >
          <button
            v-for="(item, index) in slayerTaskType"
            :key="item.engDisplay"
            class="btn btn-sm mr-2 mb-2"
            :class="slayerTaskTypeSelect === index ? 'btn-success' : 'btn-secondary'"
            @click="handleSlayerTaskType(index)"
          >
            {{ item.display }} [{{item.minLevel}} - {{item.maxLevel}}]
          </button>
        </div>
      </div>
    </div>
    <div class="row row-deck">
      <div class="col-12">
        <div class="btn-group-toggle" data-toggle="buttons">
          <h5 class="font-w700 text-combat-smoke mb-3">
            {{ lang.combat.combatArea }}
            <i
              v-show="combatShow"
              @click="combatShow = false"
              class="far fa-eye text-muted ml-2"
              style="font-size: 16px"
            ></i>
            <i
              v-show="!combatShow"
              @click="combatShow = true"
              class="far text-muted ml-2 fa-eye-slash"
              style="font-size: 16px"
            ></i>
          </h5>
          <div v-show="modeType !== 'one'" class="mb-3">
            <button
              type="button"
              class="btn btn-info m-b3 mr-3"
              @click="combatOption('all')"
            >
              {{ lang.combat.selectAll }}
            </button>
            <button
              type="button"
              class="btn btn-info m-b3 mr-3"
              @click="combatOption('reverse')"
            >
              {{ lang.combat.reverseElection }}
            </button>
            <button
              type="button"
              class="btn btn-info m-b3 mr-3"
              @click="combatOption('cancel')"
            >
              {{ lang.combat.cancelAll }}
            </button>
          </div>
          <button
            v-for="item in combatAreaArr"
            :key="item.id"
            v-show="combatShow"
            class="btn btn-sm mr-2 mb-2"
            :class="combatCheckItems.indexOf(item.name) > -1 ? 'btn-success' : 'btn-secondary'"
            :disabled="modeType === 'one' && (combatCheckItems.length > 0 || slayerCheckItems.length > 0) && combatCheckItems.indexOf(item.name) === -1"
            @click="handleCombatClick(item)"
          >
            <img class="mr-2" width="30" height="30" :src="item.media" />
            {{ item.name }}
          </button>
        </div>
      </div>
    </div>
    <div class="row row-deck">
      <div class="col-12">
        <div class="btn-group-toggle" data-toggle="buttons">
          <h5 class="font-w700 text-combat-smoke mb-3 mt-3">
            {{ lang.combat.slayerArea }}
            <i
              v-show="slayerShow"
              @click="slayerShow = false"
              class="far fa-eye text-muted ml-2"
              style="font-size: 16px"
            ></i>
            <i
              v-show="!slayerShow"
              @click="slayerShow = true"
              class="far text-muted ml-2 fa-eye-slash"
              style="font-size: 16px"
            ></i>
          </h5>
          <div v-show="modeType !== 'one'" class="mb-3">
            <button
              type="button"
              class="btn btn-info m-b3 mr-3"
              @click="slayerOption('all')"
            >
              {{ lang.combat.selectAll }}
            </button>
            <button
              type="button"
              class="btn btn-info m-b3 mr-3"
              @click="slayerOption('reverse')"
            >
              {{ lang.combat.reverseElection }}
            </button>
            <button
              type="button"
              class="btn btn-info m-b3 mr-3"
              @click="slayerOption('cancel')"
            >
              {{ lang.combat.cancelAll }}
            </button>
          </div>
          <button
            v-for="item in slayerAreaArr"
            :key="item.id"
            v-show="slayerShow"
            class="btn btn-sm mr-2 mb-2"
            :class="slayerCheckItems.indexOf(item.name) > -1 ? 'btn-success' : 'btn-secondary'"
            :disabled="modeType === 'one' && (combatCheckItems.length > 0 || slayerCheckItems.length > 0) && slayerCheckItems.indexOf(item.name) === -1"
            @click="handleSlayerClick(item)"
          >
            <img class="mr-2" width="30" height="30" :src="item.media" />
            {{ item.name }}
          </button>
        </div>
      </div>
    </div>

    <div class="row row-deck">
      <div class="col-12">
        <button type="button" class="btn btn-primary" @click="start">
          {{ lang.combat.start }}
        </button>
      </div>
    </div>
  </div>
</template>
