/** Your styles here **/
.x-dialog {
  position: fixed;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-bank-items-box {
  max-height: 60vh;
  overflow-y: auto;
  padding: 1.25rem 1.25rem;
  box-sizing: border-box;
}

.x-tips {
  color: #e56767;
  font-size: 1.875rem;
  font-weight: 600;
}